#
# Documentation is here: http://git-scm.com/docs/gitignore
#
tmp/
unpack/

#
# I like to switch between netbeans, eclipse, and vim
#
/nbproject/
/.project
__pycache__/

#
# For vim temporary files
#
*.swp
.~lock.*
.*~
*~

